@import '../../../styles/variables.module.scss';
@import '../../../styles/mixin.module.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include mobile {
    flex-direction: column;
  }

  main {
    width: 100%;
    max-width: $main-height;
    max-height: $main-height;

    @include mobile {
      max-width: unset;
      max-height: unset;
    }
  }

  aside {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    min-width: $aside-width;
    max-height: $main-height;
    flex: 1;
    padding: 1rem;

    @include mobile {
      padding-top: 0;
      flex-direction: column;
      max-height: unset;
    }

    .buttonSection {
      flex: 0 0 auto;
    }

    .metaSection {
      display: flex;
      flex-flow: column;
      flex: 1;
      overflow: hidden;
    }
  }
}
