@import '../../../styles/mixin.scss';

.wrapper {
  display: flex;
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }

  main {
    width: 100%;
    max-width: 100vh;
    max-height: 100vh;
  }

  aside {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    min-width: 20rem;
    max-height: 100vh;
    padding: 1rem;

    @include mobile {
      padding-top: 0;
      flex-direction: column;
      max-height: unset;
    }

    .buttonSection {
      flex: 0 0 auto;
    }

    .metaSection {
      display: flex;
      flex-flow: column;
      padding: 1rem;
      overflow: hidden;
    }
  }
}
