.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .radioGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;

    .radio {
      display: flex;
    }
  }

  .submit {
    background-color: rgb(84, 179, 84);
  }
}
