@import '../../../styles/mixin.module.scss';

.wrapper {
  overflow: auto;
  background-color: rgb(241, 241, 241);

  ol {
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    align-items: stretch;

    .index {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      background-color: rgb(206, 206, 206);
    }

    li {
      padding: 0.25rem 0.5rem;
      border-bottom: 1px solid rgb(206, 206, 206);

      &.black {
        box-shadow: inset 0 0 0 2px rgb(64, 40, 239);
      }

      &.white {
        box-shadow: inset 0 0 0 2px rgb(239, 64, 64);
      }
    }
  }
}
