.wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;

  .grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: #e8e8e8;
  }
}
