.wrapper {
  width: calc(min(100vw, 100vh));
  height: calc(min(100vw, 100vh));
  padding: 1rem;

  .grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}
