.wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  &.white {
    background-color: #fbd9b9;
  }
  &.black {
    background-color: #b9c1fc;
  }
  &.neutral {
    background-color: #bfbfbf;
  }

  &:hover {
    .piece.hoverPiece {
      opacity: 0.5;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px #5d00ff;
    z-index: 1000;
  }
}

.pieceWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;

  .piece {
    width: 100%;
    height: 100%;
    border-radius: 10%;

    &.white {
      background-color: #ff7b00;
    }
    &.black {
      background-color: #002aff;
    }
    &.neutral {
      background-color: #6c6c6c;
    }

    &.selectedPiece {
      display: flex;
      align-items: center;
      justify-content: center;

      color: white;
    }

    &.hoverPiece {
      opacity: 0;
    }
  }
}

.emptyWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20%;

  .empty {
    width: 100%;
    height: 100%;
    background: #7f7f7f1c;
  }
}
